{% extends 'app/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block search %}
    {% for product in keys %}
    <div class="col-lg-3">
        <img src="{{product.Image_URL}}" alt="" class="thumbnail">
        <div class="box-element product">
            <h5>{{product.name}}</h5>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <a href="" class="btn btn-outline-secondary add-btn">View</a>
            <h3 style="display: inline-block; float: right;"><strong>$ {{product.price}}</strong></h3>
        </div>
    </div>
    {% endfor %}
    {% endblock search %}
    </body>
</html>